.ProseMirror {
  outline: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.ProseMirror > * + * {
  margin-top: 0.75em;
}

.ProseMirror code {
  background-color: rgba(97, 97, 97, 0.1);
  color: #616161;
}

.ProseMirror ol {
  padding: 0 1rem;
}

.ProseMirror ul {
  padding: 0 1rem;
}

.ProseMirror pre {
  color: #fff;
  background: #0d0d0d;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  font-family: 'JetBrainsMono', monospace;
}

.ProseMirror pre code {
  padding: 0;
  color: inherit;
  background: none;
  font-size: 0.8rem;
}

.ProseMirror blockquote {
  padding-left: 1rem;
  border-left: 2px solid rgba(13, 13, 13, 0.1);
}

.ProseMirror hr {
  border: none;
  margin: 2rem 0;
  border-top: 2px solid rgba(13, 13, 13, 0.1);
}

.ProseMirror ul[data-type='taskList'] {
  list-style: none;
  padding: 0;
}

.ProseMirror ul[data-type='taskList'] p {
  margin: 0;
}

.ProseMirror ul[data-type='taskList'] li {
  display: flex;
}

.ProseMirror ul[data-type='taskList'] li > label {
  flex: 0 0 auto;
  user-select: none;
  margin-right: 0.5rem;
}

.ProseMirror ul[data-type='taskList'] li > div {
  flex: 1 1 auto;
}

.ProseMirror table {
  margin: 0;
  width: 100%;
  overflow: hidden;
  table-layout: fixed;
  border-collapse: collapse;
}

.ProseMirror table td,
.ProseMirror table th {
  min-width: 1em;
  padding: 3px 5px;
  position: relative;
  vertical-align: top;
  box-sizing: border-box;
  border: 2px solid #ced4da;
}

.ProseMirror table td > *,
.ProseMirror table th > * {
  margin-bottom: 0;
}

.ProseMirror table th {
  text-align: left;
  font-weight: bold;
  background-color: #f1f3f5;
}

.ProseMirror table .selectedCell:after {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  content: '';
  position: absolute;
  pointer-events: none;
  background: rgba(200, 200, 255, 0.4);
}

.ProseMirror table .column-resize-handle {
  top: 0;
  width: 4px;
  right: -2px;
  bottom: -2px;
  position: absolute;
  pointer-events: none;
  background-color: #adf;
}

.ProseMirror table p {
  margin: 0;
}

.ProseMirror .tableWrapper {
  padding: 1rem 0;
  overflow-x: auto;
}

.ProseMirror .resize-cursor {
  cursor: ew-resize;
  cursor: col-resize;
}
